:root {
    --light-theme-main: rgb(92, 29, 174);
    --dark-theme-main: rgb(171, 107, 255);
    --light-grey: rgb(234, 234, 234);
    --darker-grey: rgb(114, 114, 114);
    --dark-grey: rgb(37, 37, 37);
    --shadow-color: rgba(0, 0, 0, 0.17);
    --lt-post: rgb(255, 255, 255);
    --lt-green: rgb(35, 176, 0);
    --lt-red: rgb(255, 41, 41);
    --dt-green: rgb(119, 255, 86);
    --dt-red: rgb(255, 99, 99);

    --shadow: 4px 4px 7px var(--shadow-color);

    --font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light-grey);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.sign-in,
.sign-up {
    border: none;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    background-color: var(--light-theme-main);
    color: var(--lt-post);
    cursor: pointer;
    font-weight: bold;
}

.sign-in {
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: var(--light-theme-main);
}

.sign-up:hover {
    background-color: var(--dark-theme-main);
}

article {
    background-color: var(--lt-post);
    width: 700px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1rem;
    margin: 1rem auto 1.5rem;
}

.top,
.post-icons {
    display: flex;
    justify-content: space-between;
}

img {
    width: auto;
    height: 1.5vw;
}

.vote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide {
    display: none;
}