:root {
    --light-theme-main: rgb(92, 29, 174);
    --dark-theme-main: rgb(171, 107, 255);
    --light-grey: rgb(234, 234, 234);
    --darker-grey: rgb(114, 114, 114);
    --dark-grey: rgb(37, 37, 37);
    --shadow-color: rgba(0, 0, 0, 0.17);
    --lt-post: rgb(255, 255, 255);
    --lt-green: rgb(35, 176, 0);
    --lt-red: rgb(255, 41, 41);
    --dt-green: rgb(119, 255, 86);
    --dt-red: rgb(255, 99, 99);

    --shadow: 4px 4px 7px var(--shadow-color);

    --font: 'Open Sans', sans-serif;
}

* {
    font-family: var(--font);
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light-grey);
}

article {
    background-color: var(--lt-post);
    width: 700px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1rem;
}